<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <p:menu style="font-size: 12px; line-height: 14px">
            <p:submenu label="Atividades">
                <p:menuitem value="Enviar Atividade" icon="ui-icon-arrowthickstop-1-n" url="/thunder/aluno/enviaratividade.xhtml"/>
            </p:submenu>
            <p:submenu label="Relatórios">
                <p:menuitem value="Atividades" ajax="false" icon="ui-icon-folder-open" url="/thunder/aluno/atividades.xhtml"/>
            </p:submenu>
            <p:submenu label="Meus dados">
                <p:menuitem value="Editar" ajax="false" icon="ui-icon-folder-open" url="/thunder/aluno/meusDados.xhtml"/>
            </p:submenu>
        </p:menu>
    </ui:composition>
</html>