<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <p:menu style="font-size: 12px; line-height: 14px">
            <p:submenu label="Gerenciar Atividades">
                <p:menuitem value="Cadastrar"  icon="ui-icon-disk" url="/thunder/docente/cadastraratividade.xhtml"/>
                <p:menuitem value="Excluir" icon="ui-icon-close" url="/thunder/docente/excluiratividade.xhtml"/>
            </p:submenu>
            <p:submenu label="Gerenciar">
                <p:menuitem value="Turmas"  icon="ui-icon-gear" url="/thunder/docente/gerenciarturmas.xhtml"/>
                <p:menuitem value="Alunos" icon="ui-icon-person" url="/thunder/docente/gerenciaralunos.xhtml"/>
            </p:submenu>
            <p:submenu label="Feedback">
                <p:menuitem value="Validar Atividades" ajax="false" icon="ui-icon-circle-check" url="/thunder/docente/validaratividades.xhtml"/>
            </p:submenu>
            <p:submenu label="Relatórios">
                <p:menuitem value="Atividades" ajax="true" icon="ui-icon-script" url="/thunder/docente/atividadesrecebidas.xhtml"/>
            </p:submenu>
            <p:submenu label="Meus dados">
                <p:menuitem value="Editar" ajax="false" icon="ui-icon-folder-open" url="/thunder/docente/meusDados.xhtml"/>
            </p:submenu>
        </p:menu>
    </ui:composition>
</html>