<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:h="http://java.sun.com/jsf/html"  
    xmlns:f="http://java.sun.com/jsf/core"  
    xmlns:ui="http://java.sun.com/jsf/facelets"  
    xmlns:p="http://primefaces.org/ui">  
      
    <h:head>  
        <title>Resultado</title>
    </h:head>  
      
    <h:body>  
        <h:form>  
            <p:dataTable var="atividade" value="#{Busca.atividades}">  
                <p:column headerText="Classificação">  
                    <h:outputText value="#{atividade.idClassificacao.titulo}" />  
                </p:column>  
  
                <p:column headerText="Nome">  
                    <h:outputText value="#{atividade.nome}" />  
                </p:column>  
  
                <p:column headerText="Data final">  
                    <h:outputText value="#{atividade.dataFim}" />  
                </p:column>  
  
                <p:column headerText="Descrição">  
                    <h:outputText value="#{atividade.descricao}" /> horas
                </p:column>  
  
                <p:column headerText="">  
                    <p:commandButton icon="ui-icon-circle-zoomin" actionListener="#{Busca.selectCarFromDialog(car)}" />  
                </p:column>  
            </p:dataTable>  
        </h:form>  
    </h:body>  
      
</html>