<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html dir="ltr" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
<h:head>
<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<title>Thunder Board - Open Source GED</title>
<meta name="description" content="Open Source GED"/>
<meta charset="UTF-8"/>
<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" media="all" href="../css/normalize.css"/>
<link rel="stylesheet" type="text/css" media="all" href="../css/prettyPhoto.css"/>
<link rel="stylesheet" type="text/css" media="all" href="../css/grid.css"/>
<link rel="stylesheet" type="text/css" media="all" href="../css/colorstheme.css"/>
<link rel='stylesheet' id='contact-form-7-css' href='../css/styles.css?ver=3.0' type='text/css' media='all'/>
<link rel="stylesheet" type="text/css" media="all" href="../css/style.css"/>
<script type='text/javascript' src='../js/modernizr.js?ver=2.0.6'></script>
<script type='text/javascript' src='../js/superfish.js?ver=1.4.8'></script>
<script type='text/javascript' src='../js/jquery.easing.1.3.js?ver=1.3'></script>
<script type='text/javascript' src='../js/jquery.prettyPhoto.js?ver=3.1.4'></script>
<script type='text/javascript' src='../js/jquery.nivo.slider.js?ver=2.5.2'></script>
<script type='text/javascript' src='../js/jquery.tools.min.js?ver=1.2.6'></script>
<script type='text/javascript' src='../js/jquery.loader.js?ver=1.0'></script>
<script type='text/javascript' src='../js/jquery.elastislide.js?ver=1.0'></script>
<script type='text/javascript' src='../js/swfobject.js?ver=2.2-20120417'></script>
<script type='text/javascript' src='../js/jquery.cycle.all.js?ver=2.99'></script>
<script type='text/javascript' src='../js/jquery.tinycarousel.min.js?ver=1.0'></script>
<script type='text/javascript' src='../js/custom.js?ver=1.0'></script>
<script type='text/javascript' src='../js/thunder.js'></script>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Thunder Board - Open Source GED</title>
            </f:facet>
</h:head>
        <h:body class="home">
            <div id="tudo">
                    <ui:insert name="header">
                        <header id="header">
                            <div class="top-bg form-inline">
                                <div id="topom1"><a href="http://thunderboard.no-ip.info"><img src="../images/logoHeader.png" /></a></div>
                                <div id="topom3" class="text-right"><h:form id="form1"><div style="width: 250px;float: left;position: absolute;"><p:inputText value="" id="busca-top" /><p:watermark for="busca-top" value="Buscar Atividade" /><a href="#"><img src="../images/search.png" style="position: relative; left: -36px; top: 10px" /></a></div></h:form><h:form id="form2"><div style="width: 270px;padding-top: 20px; float: right"> Olá <h:outputText value="#{Acesso.usuario.nome}" /> | <p:commandLink actionListener="#{Acesso.doLogout()}"><font style=" color: white; font-weight: bold;">Logout</font></p:commandLink></div></h:form></div>
                            </div>
                        </header>
                    </ui:insert>
                <p:layout style=" min-height: 550px; max-width: 99.95%">
                <p:layoutUnit position="west" resizable="true" style="width: 250px;height: 100%;max-height: 100%" header="Menu" collapsible="true">
                    <h:form id="menu">
                        <ui:include src="./menu/#{Acesso.menu}.html" />
                    </h:form>
                </p:layoutUnit>
                <p:layoutUnit position="center" style="height: 100%;max-height: 100%">
                    <div id="slider-wrapper">
                       <div class="slider-bg">
                            <ui:insert name="content">
                                <div class="logo" align="center">
                                            <p class="tagline" style="color: dodgerblue; font-size: 30px"><br />Bem Vindo ao<br /><br /></p>
                                            <a href="#" id="logo"><img src="../images/logo.png" alt="" title="GED Open Source" /></a>                                            
                                        </div>
                            </ui:insert>
                       </div>
                    </div>
                </p:layoutUnit>
                </p:layout>
            <ui:insert name="footer">
            <footer id="footer" style=" z-index: 9999">
                <div id="back-top-wrapper">
                    <p id="back-top">
                        <a href="#top">Topo</a>
                    </p>
                </div>
                <div class="container_12 clearfix" style=" margin-left: 40px; z-index: 1">
                    <div id="copyright" class="clearfix" style=" z-index: 1">
                        <div id="logoheader">
                        </div>
                        <div class="grid_12" style="top: 30px; left: 90px; z-index: 1 ">
                            <div id="footer-text">
                                <a href="http://thunderboard.no-ip.info" title="Thunder Board" class="site-name">ThunderBoard-0.0.2</a>
                                © 2013 • Open Source GED
                            </div>
                        </div>
                    </div>
                </div>
                <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:10px;top:10%; z-index: 19999; text-align: center; ">
                    <f:facet name="start">
                        <p:graphicImage value="../images/loading.gif" /><div class="circle"></div>
                    </f:facet>
                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>
            </footer>
            </ui:insert>
            </div>
        </h:body>
    </f:view>
</html>