<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="./template.xhtml"
                 xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <font size="6">Atividades Recebidas</font>
        <h:form id="atividadesdocente" style="width:auto" enctype="multipart/form-data">  
            <br/>
            <br/>
            <p:dataTable id="aacc" var="evt" value="#{Evento.resultSetEvento}" 
                         emptyMessage="Nenhuma atividade encontrada"
                         filteredValue="#{Evento.resultSetEvento}" >  
                <p:growl id="msgs" showDetail="true" showSummary="false" />
                <f:facet name="header"> 
                    Atividades
                </f:facet>  

                <p:column id="nome" headerText="Atividade" filterBy="#{evt.idAACC.nome}"
                          filterMatchMode="contains">
                    <h:outputText value="#{evt.idAACC.nome}"/>
                </p:column>  

                <p:column id="semestre" headerText="Classificação" filterBy="#{evt.idAACC.idClassificacao.titulo}"
                          filterOptions="1" filterMatchMode="exact">  
                    <h:outputText value="#{evt.idAACC.idClassificacao.titulo}"/>
                </p:column>  

                <p:column id="ano" headerText="Documento" filterBy="#{evt.idAACC.idDocumento.titulo}"
                          filterMatchMode="contains">  
                    <h:outputText value="#{evt.idAACC.idDocumento.titulo}"/>
                </p:column> 

                <p:column id="classificacao" headerText="Data limite" filterBy="#{evt.idAACC.dataFim}"
                          filterMatchMode="exact" >  
                    <h:outputText value="#{evt.idAACC.dataFim}"/>
                </p:column>  

                <p:column id="documento" headerText="Limite hora" filterBy="#{evt.idAACC.limiteHora}"
                          filterMatchMode="exact" >  
                    <h:outputText value="#{evt.idAACC.limiteHora}"/>
                </p:column>

                <p:column id="horasValidas" headerText="Aluno" filterBy="#{evt.idUsuario.nome}"
                          filterMatchMode="contains">  
                    <h:outputText value="#{evt.idUsuario.nome}"/>
                </p:column>

                <p:column id="aceito" headerText="Valido" filterBy="#{evt.aceito}"
                          filterMatchMode="contains" >
                    <h:outputText value="#{evt.aceito}"/>
                </p:column>

                <p:column id="pontuacao" headerText="Pontuação" filterBy="#{evt.pontuacao}"
                          filterMatchMode="contains" >
                    <h:outputText value="#{evt.pontuacao}"/>
                </p:column>

                <p:column id="feedback" headerText="Feedback" filterBy="#{evt.feedBack}"
                          filterMatchMode="contains" >
                    <h:outputText value="#{evt.feedBack}"/>
                </p:column>

                <f:facet name="footer">  

                </f:facet>  
                
            </p:dataTable>

        </h:form>  
    </ui:define>

</ui:composition>