<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="./template.xhtml"
                 xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <br/>
        <font size="6">Cadastrar Atividade</font>
        <h:form id="cadastraratividade" style="width:auto" enctype="multipart/form-data">  
            <br/>
            <p:growl id="msgs" showDetail="true" showSummary="false" />
            <h:outputLabel value="Nome da atividade: " for="nn"/>
            <p:inputText id="nn" value="#{Atividade.aacc.nome}" type="text" required="true" requiredMessage="Digite o nome da atividade!"/>

            <h:outputLabel value="Turma:" for="tt" /> 
            <p:selectOneMenu id="tt" value="#{Atividade.idPeriodo}" filter="true" filterMatchMode="contains"
                             required="true"
                             requiredMessage="Selecione um turma!">
                <f:selectItem itemLabel="" itemValue=""/> 
                <f:selectItems value="#{Turma.resultSetPeriodo}" var="turma"
                               itemLabel="#{turma.semestre}º Semestre #{turma.ano}" 
                               itemValue="#{turma.idPeriodo}"/>
            </p:selectOneMenu>
            <br/>
            <br/>
            <h:outputLabel value="Classificacao: " for="cc" />
            <p:selectOneMenu id="cc" value="#{Atividade.idClassificacao}" filter="true" filterMatchMode="contains"
                             required="true"
                             requiredMessage="Selecione uma classificação!">
                <f:selectItem itemLabel="" itemValue=""/>
                <f:selectItems value="#{ClassificacaoAacc.resultSetClassificacao}" var="csf"
                               itemLabel="#{csf.titulo}" 
                               itemValue="#{csf.idClassificacao}"/>
            </p:selectOneMenu>

            <h:outputLabel value="Documento: " for="dd" />
            <p:selectOneMenu id="dd" value="#{Atividade.idDocumento}" filter="true" filterMatchMode="contains"
                             required="true"
                             requiredMessage="Selecione um documento!">
                <f:selectItem itemLabel="" itemValue=""/>
                <f:selectItems value="#{CategoriaDocumento.resultSetDocumento}" var="doc"
                               itemLabel="#{doc.titulo}" 
                               itemValue="#{doc.idDocumento}"/>
            </p:selectOneMenu>


            <br/><br/>
            <p:editor id="editor" width="700" value="#{Atividade.aacc.descricao}"/>  
            <br/>
            <br/>
            <h:outputLabel value="Horas válidas: " for="hh"/>
            <p:inputText id="hh" value="#{Atividade.aacc.limiteHora}"
                         required="true"
                         requiredMessage="Digite a quantidade máxima de horas!"
                         />
            <p:watermark for="hh" value="número de horas válidas"/>
            <br/>
            <br/>
            <h:outputText value="Insira a Data/Hora limite para entrega desta atividade: "/>
            <p:calendar pattern="dd/MM/yyyy hh:mm" value="#{Atividade.aacc.dataFim}" 
                        required="true"
                        requiredMessage="Selecione uma data limite!"/> 

            <h:panelGrid columns="2" style="margin-top:15px">  
                <p:commandButton id="botaoEnviar" value="Enviar" 
                                 actionListener="#{Atividade.cadastrarAacc()}"
                                 icon="ui-icon-disk"
                                 update="msgs"
                                 ajax="true"/>  
                <p:commandButton id="botaoLimpar" type="button" value="Limpar" onclick="editor.clear();"  
                                 icon="ui-icon-close"
                                 />  
            </h:panelGrid>  

        </h:form> 
    </ui:define>

</ui:composition>