<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="./template.xhtml"
                 xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <br/>
        <font size="6">Excluir Atividade</font>
        <h:form id="excluirAtividade" style="width:auto" enctype="multipart/form-data">  
            <br/>
            
            <p:dataTable id="aacc" var="aacc" value="#{Atividade.resultSetAacc}" rowKey="#{aacc.nome}"
                         selection="#{Atividade.selectedAacc}" selectionMode="single" emptyMessage="Nenhuma atividade encontrada"
                         filteredValue="#{Atividade.filtroAacc}" >  
                <p:growl id="msgs" showDetail="true" showSummary="false" />
                <f:facet name="header"> 
                    Atividades
                </f:facet>  

                <p:column id="nome" headerText="Nome" filterBy="#{aacc.nome}"
                          filterMatchMode="contains">
                    <h:outputText value="#{aacc.nome}"/>
                </p:column>  

                <p:column id="semestre" headerText="Semestre" filterBy="#{aacc.idPeriodo.semestre}"
                          filterOptions="1" filterMatchMode="exact">  
                    <h:outputText value="#{aacc.idPeriodo.semestre}"/>
                </p:column>  

                <p:column id="ano" headerText="Ano" filterBy="#{aacc.idPeriodo.ano}"
                          filterMatchMode="contains">  
                    <h:outputText value="#{aacc.idPeriodo.ano}"/>
                </p:column> 

                <p:column id="classificacao" headerText="Classificação" filterBy="#{aacc.idClassificacao.titulo}"
                          filterMatchMode="exact" >  
                    <h:outputText value="#{aacc.idClassificacao.titulo}"/>
                </p:column>  

                <p:column id="documento" headerText="Documento" filterBy="#{aacc.idDocumento.titulo}"
                          filterMatchMode="exact" >  
                    <h:outputText value="#{aacc.idDocumento.titulo}"/>
                </p:column>

                <p:column id="horasValidas" headerText="Horas validas" filterBy="#{aacc.limiteHora}"
                          filterMatchMode="contains">  
                    <h:outputText value="#{aacc.limiteHora}"/>
                </p:column>

                <p:column id="dataLimite" headerText="Data limite" filterBy="#{aacc.dataFim}"
                          filterMatchMode="contains" >
                    <h:outputText value="#{aacc.dataFim}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                    </h:outputText>
                </p:column>

                <f:facet name="footer">  

                </f:facet>  

            </p:dataTable>   

            <br/>
            <p:commandButton id="excluir" value="Excluir" 
                             actionListener="#{Atividade.excluirAacc()}" update="aacc"
                             icon="ui-icon-close" 
                             ajax="true">
                <p:ajax update=":excluirAtividade:aacc:msgs"/>
            </p:commandButton> 

        </h:form> 
    </ui:define>

</ui:composition>