<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="./template.xhtml"
                 xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <font size="6">Gerenciar Turmas</font>
        <br/><br/>
        <h:form id="gerenciarPeriodo">
            <p:growl id="msgs" showDetail="true" showSummary="false" />
            <p:panelGrid columns="2" style="width:800px">  
                <f:facet name="header">
                    Cadastrar Turma
                </f:facet>  

                <h:outputLabel for="cad_periodo" value="Informe o Período: *" />
                <p:selectOneMenu id="cad_periodo" style="width:135px" value="#{Turma.cadastrarPeriodoStringSemestre}" >  
                    <f:selectItem itemLabel="1º semestre" itemValue="1"/>  
                    <f:selectItem itemLabel="2º semestre" itemValue="2"/> 
                </p:selectOneMenu>   

                <h:outputLabel for="cad_ano" value="Informe o Ano: *" />  
                <p:inputMask id="cad_ano" value="#{Turma.cadastrarPeriodoStringAno}" label="cad_ano" style="width:125px"
                             mask="9999"/>  

                <f:facet name="footer">  
                    <p:commandButton value="Cadastrar" icon="ui-icon-plus" style="font-size:small"
                                     actionListener="#{Turma.cadastrarPeriodo}"
                                     update="gerenciarPeriodo"
                                     ajax="true"/>  
                </f:facet>  
            </p:panelGrid>  
            <br/>


            <p:panelGrid columns="2" style="width:800px">  
                <f:facet name="header">
                    Excluir Turma
                </f:facet>  

                <h:outputLabel value="Informe a Turma: *" />
                <p:selectOneMenu id="tt" value="#{Turma.idPeriodoExc}" filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="" itemValue=""/> 
                    <f:selectItems value="#{Turma.resultSetPeriodo}" var="turma"
                                   itemLabel="#{turma.semestre}º Semestre #{turma.ano}" 
                                   itemValue="#{turma.idPeriodo}"/>
                </p:selectOneMenu>  

                <f:facet name="footer">  
                    <p:commandButton value="Excluir" icon="ui-icon-trash" style="font-size:small" actionListener="#{Turma.excluir}"
                                     update="gerenciarPeriodo"
                                     ajax="true"/>
                </f:facet>  
            </p:panelGrid>  
        </h:form>  


    </ui:define>
</ui:composition>
