<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="./template.xhtml"
                 xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <font size="6">Gerenciar Alunos</font>
        <br/><br/>
        <h:form id="gerenciarAluno">
            <p:growl id="msgs" showDetail="true" showSummary="false" />
            <p:panelGrid columns="2" style="width:800px">  
                <f:facet name="header">
                    Cadastrar Aluno
                </f:facet>  

                <h:outputLabel for="cad_nome" value="Informe o Nome: *" />  
                <p:inputText id="cad_nome" value="#{Aluno.nomeCad}" label="cad_email" style="width:225px"
                             />

                <h:outputLabel for="cad_email" value="Informe o E-Mail: *" />  
                <p:inputText id="cad_email" value="#{Aluno.email}" label="cad_email" style="width:225px"
                             />

                <h:outputLabel for="cad_senha" value="Senha Inicial: *" />  
                <p:inputText id="cad_senha" value="#{Aluno.senhaPadrao}" label="cad_senha" style="width:225px" type="password" maxlength="10" disabled="true"/>

                <h:outputLabel value="Informe o Período: *" />
                <p:selectOneMenu id="tt" value="#{Aluno.idPeriodoCad}" filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="" itemValue=""/> 
                    <f:selectItems value="#{Turma.resultSetPeriodo}" var="turma"
                                   itemLabel="#{turma.semestre}º Semestre #{turma.ano}" 
                                   itemValue="#{turma.idPeriodo}"/>
                </p:selectOneMenu>
                
                <f:facet name="footer">  
                    <p:commandButton value="Cadastrar" icon="ui-icon-plus" style="font-size:small" 
                                     actionListener="#{Aluno.cadastrarUsuario()}"
                                     update="gerenciarAluno"
                                     ajax="true"/>  
                </f:facet>  
            </p:panelGrid>  
            <br/>


            <p:panelGrid columns="2" style="width:800px">  
                <f:facet name="header">
                    Excluir Aluno
                </f:facet>  

                <h:outputLabel for="mm" value="Informe o Período: *" />
                <p:selectOneMenu id="mm" value="#{Aluno.idPeriodoExc}" filter="true" filterMatchMode="contains">
                    <p:ajax listener="#{Aluno.filtrarUsuarios()}" update="zz"/>
                    <f:selectItem itemLabel="" itemValue=""/> 
                    <f:selectItems value="#{Turma.resultSetPeriodo}" var="turma"
                                   itemLabel="#{turma.semestre}º Semestre #{turma.ano}" 
                                   itemValue="#{turma.idPeriodo}"/>
                </p:selectOneMenu>
                
                <h:outputLabel value="Selecione o Aluno: *" />
                <p:selectOneMenu id="zz" value="#{Aluno.idUsuarioExc}" filter="true" filterMatchMode="contains">
                    <f:selectItem itemLabel="" itemValue=""/> 
                    <f:selectItems value="#{Aluno.filterUsuario}" var="aluno"
                                   itemLabel="#{aluno.nome}" 
                                   itemValue="#{aluno.idUsuario}"/>
                </p:selectOneMenu>

                <f:facet name="footer">  
                    <p:commandButton value="Excluir" icon="ui-icon-trash" style="font-size:small"
                                     actionListener="#{Aluno.excluirUsuario()}"
                                     update="gerenciarAluno"
                                     ajax="true"/>
                </f:facet>  
            </p:panelGrid>  
        </h:form>  


    </ui:define>
</ui:composition>
