<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="./template.xhtml"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="content">
        <font size="6">Publicar Aviso</font>
        <h:form id="publicaraviso" style="width:auto" enctype="multipart/form-data">  
            <br/>
            <p:selectCheckboxMenu value="#{turma.selecao}" label="Selecione a Turma" filter="true" filterMatchMode="startsWith" panelStyle="width:300px">  
                <f:selectItems value="#{turma.lista}" />
            </p:selectCheckboxMenu>
            
            <br/><br/>
            <p:editor id="editor" width="700"/>  
            
            <h:panelGrid columns="2" style="margin-top:15px">  
                <p:commandButton id="botaoEnviar" value="Enviar" update="tela" oncomplete="mensagem.show()"  
                                 icon="ui-icon-disk" />  
                <p:commandButton id="botaoCancelar" type="button" value="Cancelar"  
                                 icon="ui-icon-close" />  
            </h:panelGrid>  

            <p:dialog header="Content" showEffect="fade" hideEffect="fade" modal="true">  
                <h:outputText id="tela" value="#{mensagem.valor}" escape="false" />  
            </p:dialog>

        </h:form> 
    </ui:define>
    
</ui:composition>