<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="./template.xhtml"
                 xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <font size="6">Validar Atividades</font>
        <br/>
        <br/>

        <h:form id="validarAtividade">
            <p:growl id="msgs" showDetail="true" showSummary="false" />
            <h:outputLabel value="Turma: " for="dd" />
            <p:selectOneMenu id="dd" value="#{Atividade.idPeriodo}" filter="true" filterMatchMode="contains">
                <p:ajax listener="#{Atividade.filtroAaccPorPeriodo()}" update="tt"/>
                <f:selectItem itemLabel="" itemValue=""/>
                <f:selectItems value="#{Turma.resultSetPeriodo}" var="turma"
                               itemLabel="#{turma.semestre}º Semestre #{turma.ano}" 
                               itemValue="#{turma.idPeriodo}"/>
            </p:selectOneMenu>

            <h:outputLabel value="Atividade: " for="tt" />  
            <p:selectOneMenu id="tt" value="#{Evento.idAtividade}" filter="true" filterMatchMode="contains">
                <p:ajax listener="#{Evento.filtraEvento}" update="vv"/>
                <f:selectItem itemLabel="" itemValue=""/>
                <f:selectItems value="#{Atividade.listPorPeriodo}" var="aacc"
                               itemLabel="#{aacc.nome}"
                               itemValue="#{aacc.idAACC}"/>
            </p:selectOneMenu>

            <h:outputLabel value="Aluno: " for="vv" />  
            <p:selectOneMenu id="vv" value="#{Evento.idEvento}" filter="true" filterMatchMode="contains">
                <p:ajax listener="#{Evento.selecionaEvento()}" update="detalhes"/>
                <p:ajax update="display2"/>
                <f:selectItem itemLabel="" itemValue=""/>
                <f:selectItems value="#{Evento.filtroEvento}" var="aluno"
                               itemLabel="#{aluno.idUsuario.nome}"
                               itemValue="#{aluno.idEvento}"/>
            </p:selectOneMenu>

            <br/>
            <br/>

            <p:accordionPanel id="detalhes" >
                <p:tab title="#{Evento.selectedEvento.idAACC.nome}">
                    <h:panelGrid id="display1" columns="2" cellpadding="4">
                        <h:outputText value="Nome :" />  
                        <h:outputText value="#{Evento.selectedEvento.idAACC.nome}" style="font-weight:bold"/>  

                        <h:outputText value="Classicação :" />  
                        <h:outputText value="#{Evento.selectedEvento.idAACC.idClassificacao.titulo}" style="font-weight:bold"/>  

                        <h:outputText value="Documento :" />  
                        <h:outputText value="#{Evento.selectedEvento.idAACC.idDocumento.titulo}" style="font-weight:bold"/>  

                        <h:outputText value="Horas validas :" />  
                        <h:outputText value="#{Evento.selectedEvento.idAACC.limiteHora}" style="font-weight:bold"/>  

                        <h:outputText value="Data limite :" />  
                        <h:outputText value="#{Evento.selectedEvento.idAACC.dataFim}" style="font-weight:bold">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                        </h:outputText> 

                        <h:outputText value="Detalhes :" />  
                        <h:outputText value="#{Evento.selectedEvento.idAACC.descricao}" style="font-weight:bold"/> 
                    </h:panelGrid>
                </p:tab>
            </p:accordionPanel>
            <br/>
            <br/>
            <p:panelGrid id="display2" columns="2" >  

                <h:outputLabel value="Nome do aluno: " for="zz" />  
                <h:outputText id="zz" value="#{Evento.selectedEvento.idUsuario.nome}"/>

                <h:outputLabel value="E-mail: " for="bb" />  
                <h:outputText id="bb" value="#{Evento.selectedEvento.idUsuario.email}"/>

                <h:outputLabel value="Anexo: " for="ll" />
                <p:commandLink update="msgs" actionListener="#{Atividade.anexoImg}" style="margin-right:20px;">  
                    <h:outputText value="#{Atividade.anexoImg}" /> 
                </p:commandLink>

                <h:outputLabel value="Descrição: " for="qq" />
                <h:outputText id="qq" value="#{Evento.selectedEvento.descricao}"/>

                <h:outputLabel value="Status:" for="aprovado"/>
                <p:selectOneMenu id="aprovado" value="#{Evento.selectedEvento.aceito}">
                    <p:ajax listener="#{Evento.calcularPontos()}" update="pontos"/>
                    <f:selectItem itemLabel="" itemValue="" />  
                    <f:selectItem itemLabel="Aprovada" itemValue="true" />  
                    <f:selectItem itemLabel="Reprovada" itemValue="false" />  
                </p:selectOneMenu>
                <h:outputLabel value="Horas Validadas:" for="pontos"/>  
                <p:selectOneMenu id="pontos" value="#{Evento.selectedEvento.pontuacao}" filter="true" filterMatchMode="startsWith">  
                    <f:selectItem itemLabel="" itemValue="" />  
                    <f:selectItems value="#{Evento.limiteHora}" var="p" itemLabel="#{p.intValue()}" itemValue="#{p.intValue()}"/>
                </p:selectOneMenu>


                <h:outputLabel value="Feedback: " for="yy" />
                <p:editor id="yy" value="#{Evento.feedBack}" />
                <f:facet name="footer">  
                    <p:commandButton value="Confirmar Validação" icon="ui-icon-check" style="margin:0;font-size:small"
                                     actionListener="#{Evento.validarAacc()}"
                                     update="validarAtividade"/>
                </f:facet>        
            </p:panelGrid>

        </h:form> 
    </ui:define>
</ui:composition>
