<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <title>Thunder Board - Open Source GED</title>
    <meta name="description" content="Open Source GED"/>
    <meta charset="UTF-8"/>
    <!--[if lt IE 9]>
                    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->


    <link rel='stylesheet' id='contact-form-7-css' href='../css/styles.css?ver=3.0' type='text/css' media='all'/>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/skeleton.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
    <script type='text/javascript' src='../js/thunder.js'></script>
    <script type='text/javascript' src='bootstrap.min.js'></script>
    <h:head>
        <title>ThunderBoard</title>
    </h:head>
    <h:body>
        <br />
        <div class="container">            
            <div class="form-bg" style=" height: 220px; padding-left: 0px;" align="center">
                <img src="../images/logoHeader.png" height="220" />
                <h:form id="form1" style="height: 160px;">
                    <p:growl id="msgs" showDetail="true" showSummary="false"/>
                    <h2 style="margin-left: 0px;">Enviar Senha</h2>
                    <p><p:inputText id="email" label="email" type="text" onfocus="inputFocus(this)" onblur="inputBlur(this)" required="true" requiredMessage="Digite o Email!" value="#{Esqueceu.email}" />
                        <p:watermark for="email" value="Email" />
                        <p:message for="email" />
                        <p:ajaxStatus style="width:64px;height:64px;position: absolute;margin-left: 150px;top:149px; z-index: 19999; text-align: center; ">
                            <f:facet name="start">
                                <p:graphicImage value="../images/loading.gif" /><div class="circle"></div>
                            </f:facet>
                            <f:facet name="complete">  
                                <h:outputText value="" /> 
                            </f:facet>
                        </p:ajaxStatus>
                    </p>
                    <p:commandButton style="right:20px" update="msgs" id="btnEnviar" value="Enviar" actionListener="#{Esqueceu.Envia}" />
                </h:form>
            </div>
            <p style="margin-left: 200px;" class="forgot"><a href="../index.xhtml">Voltar para a pagina inicial</a></p>
        </div><!-- container -->
    </h:body>
</html>