<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="./template.xhtml"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="content">
        <font size="6">Atividades Enviadas</font>
        <h:form id="atividadesaluno" style="width:auto" enctype="multipart/form-data">  
            <br/>
            <p:dataTable id="aacc" var="aacc" value="#{Evento.aaccUsuario}" rowKey="#{aacc.idAACC.nome}"
                         selection="#{Atividade.selectedAacc}" selectionMode="single" emptyMessage="Nenhuma atividade encontrada"
                         filteredValue="#{Atividade.filtroAacc}" >  
                <p:growl id="msgs" showDetail="true" showSummary="false" />
                <f:facet name="header"> 
                    Atividades
                </f:facet>  

                <p:column id="nome" headerText="Nome" filterBy="#{aacc.idAACC.nome}"
                          filterMatchMode="contains">
                    <h:outputText value="#{aacc.idAACC.nome}"/>
                </p:column>  

                <p:column id="semestre" headerText="Semestre" filterBy="#{aacc.idAACC.idPeriodo.semestre}"
                          filterOptions="1" filterMatchMode="exact">  
                    <h:outputText value="#{aacc.idAACC.idPeriodo.semestre}"/>
                </p:column>  

                <p:column id="ano" headerText="Ano" filterBy="#{aacc.idAACC.idPeriodo.ano}"
                          filterMatchMode="contains">  
                    <h:outputText value="#{aacc.idAACC.idPeriodo.ano}"/>
                </p:column> 

                <p:column id="classificacao" headerText="Classificação" filterBy="#{aacc.idAACC.idClassificacao.titulo}"
                          filterMatchMode="exact" >  
                    <h:outputText value="#{aacc.idAACC.idClassificacao.titulo}"/>
                </p:column>  

                <p:column id="documento" headerText="Documento" filterBy="#{aacc.idAACC.idDocumento.titulo}"
                          filterMatchMode="exact" >  
                    <h:outputText value="#{aacc.idAACC.idDocumento.titulo}"/>
                </p:column>

                <p:column id="horasValidas" headerText="Horas validas" filterBy="#{aacc.idAACC.limiteHora}"
                          filterMatchMode="contains">  
                    <h:outputText value="#{aacc.idAACC.limiteHora}"/>
                </p:column>

                <p:column id="dataLimite" headerText="Data limite" filterBy="#{aacc.idAACC.dataFim}"
                          filterMatchMode="contains" >
                    <h:outputText value="#{aacc.idAACC.dataFim}">
                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                    </h:outputText>
                </p:column>

                <f:facet name="footer">  

                </f:facet>  

            </p:dataTable> 

        </h:form>  
    </ui:define>
    
</ui:composition>