<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="./template.xhtml">
    
    <ui:define name="content">
        <font size="6">Painel de Avisos</font>
        <h:form id="avisos" style="width:auto" enctype="multipart/form-data">  
            <br/>
            <p:accordionPanel multiple="true">
                <p:tab title="Aviso: #{aviso.nome} - Enviado em #{aviso.data}">
                    <h:panelGrid columns="1" cellpadding="10">
                        <h:outputText value="#{aviso.texto}" />
                    </h:panelGrid>        
                </p:tab>
            </p:accordionPanel>                    
        </h:form> 
    </ui:define>
    
</ui:composition>