<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="./template.xhtml"
                 xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <font size="6">Enviar Atividade</font>

        <h:form id="formAtividade" enctype="multipart/form-data" style="width:auto">
            <br/>
            <p:growl id="msgs" showDetail="true"/>

            <h:outputLabel value="Selecione a atividade: " for="tt" />
            <p:selectOneMenu id="tt" value="#{Evento.idAtividade}" filter="true" filterMatchMode="contains">
                <p:ajax listener="#{Evento.atribuiAtividade()}" update="detalhesAtv" />
                <f:selectItem itemLabel="" itemValue=""/> 
                <f:selectItems value="#{Atividade.listPorUsuario}" var="aacc"
                               itemLabel="#{aacc.nome}" 
                               itemValue="#{aacc.idAACC}"/>
            </p:selectOneMenu>
            <br/>
            <br/>
            <p:accordionPanel id="detalhesAtv">
                <p:tab title="Detalhes da atividade">
                    <h:panelGrid id="display" columns="2" cellpadding="4">
                        <h:outputText value="Nome :" />  
                        <h:outputText value="#{Evento.evento.idAACC.nome}" style="font-weight:bold"/>  

                        <h:outputText value="Classicação :" />  
                        <h:outputText value="#{Evento.evento.idAACC.idClassificacao.titulo}" style="font-weight:bold"/>  

                        <h:outputText value="Documento :" />  
                        <h:outputText value="#{Evento.evento.idAACC.idDocumento.titulo}" style="font-weight:bold"/>  

                        <h:outputText value="Horas validas :" />  
                        <h:outputText value="#{Evento.evento.idAACC.limiteHora}" style="font-weight:bold"/>  

                        <h:outputText value="Data limite :" />  
                        <h:outputText value="#{Evento.evento.idAACC.dataFim}" style="font-weight:bold">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
                        </h:outputText> 

                        <h:outputText value="Detalhes :" />  
                        <h:outputText value="#{Evento.evento.idAACC.descricao}" style="font-weight:bold"/> 
                    </h:panelGrid>
                </p:tab>
            </p:accordionPanel>
            <br/>
            <p:panelGrid columns="1" style="auto">  
                <f:facet name="header">  
                    Atividade
                </f:facet>  
                <p:editor value="#{Evento.evento.descricao}"/>
                <p:fileUpload update="msgs" auto="true" fileUploadListener="#{Upload.enviarAtividade}" multiple="true" showButtons="false" allowTypes="/(\.|\/)(gif|jpeg|jpg|png)$/">
                    <f:attribute name="aacc" value="#{Evento.evento.idAACC.idAACC}" />
                    <f:attribute name="usuario" value="#{Acesso.usuario.idUsuario}" />
                </p:fileUpload>
                <br/>
                <br/>
                <f:facet name="footer">  
                    <p:commandButton id="botaoEnviar" value="Enviar" icon="ui-icon-document" style="font-size:small"
                                     actionListener="#{Evento.cadastrarEvento()}"
                                     update="formAtividade"/>
                </f:facet>
            </p:panelGrid>


        </h:form> 
    </ui:define>

</ui:composition>