<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="./template.xhtml"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <ui:define name="content">
        <font size="6">Meus dados</font>
        <h:form id="avisos" style="width:auto" enctype="multipart/form-data">  
            <br/>
            <p:growl id="msgs" showDetail="true" showSummary="false" />
            <p:panelGrid columns="2" style="width:800px">  
                <f:facet name="header">
                    Meus dados
                </f:facet>  

                <h:outputLabel for="cad_nome" value="Informe o Nome: *" />  
                <p:inputText id="cad_nome" value="#{Aluno.usuario.nome}" label="cad_email" style="width:225px"/>

                <h:outputLabel for="cad_email" value="Informe o E-Mail: *" />  
                <p:inputText id="cad_email" value="#{Aluno.usuario.email}" label="cad_email" style="width:225px"/>

                <h:outputLabel for="cad_senha" value="Senha Inicial: *" />  
                <p:inputText id="cad_senha" value="#{Aluno.senha}" label="cad_senha" style="width:225px" type="password" maxlength="10" />
                
                <h:outputLabel for="cad_senhaConf" value="Confirmar Senha : *" />  
                <p:inputText id="cad_senhaConf" value="#{Aluno.confSenha}" label="cad_senha" style="width:225px" type="password" maxlength="10" />

                <f:facet name="footer">  
                    <p:commandButton value="Alterar" icon="ui-icon-disk" style="font-size:small" 
                                     actionListener="#{Aluno.alterarUsuario()}"
                                     update="avisos"/>  
                </f:facet>  
            </p:panelGrid>
            
        </h:form> 
    </ui:define>
    
</ui:composition>