<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <title>Thunder Board - Open Source GED</title>
<meta name="description" content="Open Source GED"/>
<meta charset="UTF-8"/>
<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	

<link rel='stylesheet' id='contact-form-7-css' href='css/styles.css?ver=3.0' type='text/css' media='all'/>
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
<!-- Stylesheets -->
<link rel="stylesheet" href="css/base.css"/>
<link rel="stylesheet" href="css/skeleton.css"/>
<link rel="stylesheet" href="css/layout.css"/>
<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
<script type='text/javascript' src='js/thunder.js'></script>
<script type='text/javascript' src='bootstrap.min.js'></script>
    <h:head>
        <title>ThunderBoard</title>
    </h:head>
    <h:body>
        <br />
        <div class="container">
            <div class="form-bg" style=" height: 300px; padding-left: 0px;" align="center">
                        <img src="images/logoHeader.png" />
                        <h:form id="form1">
                            <p:growl id="msgs" showDetail="true" showSummary="false"/>
                            <h2 style="margin-left: 0px;">Login</h2>
                            <p><p:inputText id="email" label="email" type="text" required="true" requiredMessage="Digite o Email!" value="#{Acesso.usuario.email}" />
                            <p:watermark for="email" value="Email" />
                            <p:message for="email" />
                            <p:ajaxStatus id="load" style="width:64px;height:64px;position: absolute;margin-left: 150px;top:149px; z-index: 19999; text-align: center; display: none">
                                <f:facet name="start">
                                    <p:graphicImage value="images/loading.gif" /><div class="circle"></div>
                                </f:facet>
                                <f:facet name="complete">  
                                    <h:outputText value="" /> 
                                </f:facet>
                            </p:ajaxStatus>
                            </p>
                            <p><p:password  required="true" requiredMessage="Digite a Senha!" id="senha" value="#{Acesso.usuario.senha}" /><p:watermark for="senha" value="Senha" /></p>
                            <p:commandButton style="right:20px" update="msgs" onclick="$('#form1\\:load').show();" oncomplete="$('#form1\\:load').css('display', 'none')" id="btnLogin" value="Login" ajax="true" actionListener="#{Acesso.doAutentica()}" />
                        </h:form>
                    </div>
                    <p class="forgot">Esqueceu sua senha? <a href="">Clique aqui para recuperar.</a></p>
                </div><!-- container -->
    </h:body>
</html>